body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
nav{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
#links{
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0.9rem 1.2rem 0 0;
}
#links a{
    padding: 0 0.5rem;
    color: rgba(0,0,0,0.87);
    font-size: 0.85rem;
}
#user{
    border-radius: 50%;
    width: 32px;
    height: 32px;
}
#menu-icon>a{
    color: #000;
}
#google-logo{
    display: flex;
    justify-content: center;
    margin: 6.5rem auto;
}

    