body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
#menu-icon>a{
    opacity: .8;
}
#menu-icon>a:hover, #menu-icon>a:focus{
    color: #000;
    opacity: 1;
}
nav{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
#links{
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0.9rem 1.2rem 0 0;
}
#links a{
    padding: 0 0.5rem;
    color: rgba(0,0,0,0.87);
    font-size: 0.85rem;
}
#user{
    border-radius: 50%;
    width: 32px;
    height: 32px;
}
#menu-icon>a{
    color: #000;
}
#google-logo{
    display: flex;
    justify-content: center;
    margin: 6.5rem auto 1.8rem auto;
}
#google-logo>img{
    max-width: 100%;
    height: auto;
}
form{
    max-width: 580px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    border: 1px solid #dfe1e5;
    border-radius: 44px;
    padding: 2px;
}
form:hover, .shadow{
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    border-color: rgba(223,225,229,0);
}
#search-icon{
    width: 21px;
    height: 21px;
    margin: 10px;
    padding-right: 3px;
    /* color: #9AA0A6; */
}  
input{
    display: flex;
    flex: 50%;
    color: rgba(0,0,0,.87);
    font-size: 16px;
    border: none;
    outline: none;
    height: 34px;
}
.close-icon {
	border: none;
	background-color: transparent;
    outline: 0;
    cursor: pointer;
    display: none;
    margin-right: 8px;
}
.close-icon:after {
	content: "X";
	display: block;
    padding: 2px;
    font-size: 22px;
    color: #80868b;
}
.border-height{
    border-right: 1px solid #dfe1e5;
    height: 30px;
    margin-right: 2px;
    display: none;
}
input:not(:valid) .close-icon{
    display: none;
}
#mic-icon{
    width: 24px;
    height: 24px;
    float: right;
    padding: 0 15px 0 8px;
    cursor: pointer;
}
.buttons{
    display: flex;
    justify-content: center;
    margin: 1.7rem 0.8rem 0.8rem 0;
}
.buttons>button{
    padding: 10px 17px;
    font-size: 14px;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    margin: 0 6px;
    cursor: pointer;
}
.buttons>button:hover{
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    background-color: #f8f8f8;
    border: 1px solid #c6c6c6;
    color: #222;
}
.buttons>button:active{
    border-color: blue;
}
.links{
    text-align: center;
    margin-top: 1.8rem;
    font-size: 13px;
}
.links span{
    opacity: 0.9;
}
.links a{
    padding: 0 3px;
    color: #1a0dab;
}
footer{
    display: flex;
    flex-direction: column;
    min-width: 100px;
    width: 100%;
    max-height: 10rem;
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    background-color:#f2f2f2;
    border-top: 1px solid #e4e4e4;
    font-size: 14px; 
}
.footer-top{
    border-bottom: 1px solid #e4e4e4;
    padding-left: 30px;
    color: rgba(0,0,0,.54);
}
.footer-bottom{
    display: flex;
    flex-wrap: wrap;
    line-height: 0.5rem;
}
.left-links{
    display: flex;
    list-style: none;
    margin-left: -25px; 
}
.footer-bottom a{
    padding: 0.8rem;
    color: #5f6368;
}
.right-links{
    display: flex;
    flex: 50%;
    justify-content: flex-end;
    list-style: none;
    margin-right: 12px;
}
@media (max-width:650px){
    .footer-bottom{
        flex-direction: column;
        align-items: center;
    }
    .footer-bottom a{
        padding: 3.85px;
    }
    #google-logo{
        max-width: 50%;
    }
}

